.trainer {
  border-style: solid;
  border-width: 1px;
  border-color:black;
}

.companies {
  height: 900px;
  width:500px;
  background-color: blue; 
}

.details {
  height: 900px;
  width:100px;
  background-color: gray; 
}